.page-content {
    padding: 20px;
    margin: 20px;
    margin-right: auto;
    margin-left: auto;
    max-width: 900px;
}

.products-table-cont {
    background-color: #E6FAFD;
    padding: 15px;
    margin-top: 50px;
}

.products-table-cont h2{
	margin-bottom: 15px;
}

#products-table_wrapper{
	background-color: #fff;
	padding: 10px;
}